<template>
  <el-container>
    <el-aside><SideNavigation /></el-aside>
    <el-container>
      <el-header><DashboardNavbar /></el-header>
      <el-main class="mt-4 ml-3">
        <h3>Create Mission</h3>
        <p>
          Create a basic mission for now. Give it an exciting name (but don't
          put the description in the title!).
        </p>
        <p>
          Write up a good description, explaining what you want to do in detail
          to avoid further questions.
        </p>
        <el-form
          ref="form"
          :model="form"
          label-width="150px"
          class="mission-form mt-5"
        >
          <el-form-item label="Mission name">
            <el-input v-model="form.title"></el-input>
          </el-form-item>
          <el-form-item label="Mission Description">
            <el-input type="textarea" v-model="form.description"></el-input>
          </el-form-item>
          <el-form-item label="Mission Tags">
            <el-select
              v-model="form.tags"
              multiple
              filterable
              allow-create
              default-first-option
              placeholder="Choose tags or create your own"
            >
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <!-- <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            multiple
            :limit="3"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button size="small" type="primary">Click to upload</el-button>
            <div slot="tip" class="el-upload__tip">
              jpg/png files with a size less than 500kb
            </div>
          </el-upload> -->
          <el-form-item>
            <el-button
              type="purpleOne"
              class="submitBtn"
              @click="submitMission()"
              >Create Mission</el-button
            >
          </el-form-item>
        </el-form>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </el-container>
</template>

<script>
import { mapActions } from 'vuex'

import SideNavigation from '../components/core/SideNavigation'
import DashboardNavbar from '../components/core/DashboardNavbar'

export default {
  name: 'CreateMissionView',
  components: {
    SideNavigation,
    DashboardNavbar
  },
  data () {
    return {
      form: {
        title: '',
        description: ''
        // tags: []
      },
      options: [{
        value: 'HTML',
        label: 'HTML'
      }, {
        value: 'CSS',
        label: 'CSS'
      }, {
        value: 'JavaScript',
        label: 'JavaScript'
      }]

    }
  },
  methods: {
    ...mapActions(['createMission']),
    submitMission: function () {
      this.createMission(this.form)

      this.form.title = ''
      this.form.description = ''
    }
  }
}

</script>
