<template>
  <el-container>
    <el-aside><SideNavigation /></el-aside>
    <el-container>
      <el-header><DashboardNavbar /></el-header>
      <el-main class="mt-4 ml-3">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="Newly Added" name="first"
            >Newly Added</el-tab-pane
          >
          <el-tab-pane label="All Posts" name="second">All Posts</el-tab-pane>
          <el-tab-pane label="Custom Filter" name="third"
            >Custom Filter</el-tab-pane
          >
        </el-tabs>
        <el-card
          class="box-card mb-2 mt-4 mission-card"
          v-for="mission in missionList"
          :key="mission.id"
          style="max-width: 50rem"
        >
          <div slot="header" class="clearfix">
            <router-link
              :to="{ name: 'Mission', params: { id: mission.id } }"
              :key="mission.id"
            >
              <span> {{ mission.title }}</span>
            </router-link>
            <el-button
              icon="el-icon-message"
              circle
              size="small"
              style="float: right"
              class="ml-3"
            ></el-button>
            <el-button
              icon="el-icon-star-off"
              circle
              size="small"
              style="float: right"
              class="ml-3"
            ></el-button>
          </div>
          <div>
            {{ mission.description }}
            <div class="--tags-section">
              <el-tag class="mr-3">HTML</el-tag>
            </div>
          </div>
        </el-card>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </el-container>
</template>

<script>
import SideNavigation from '../components/core/SideNavigation'
import DashboardNavbar from '../components/core/DashboardNavbar'

import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    SideNavigation,
    DashboardNavbar
  },
  mission: {
    id: '',
    title: '',
    description: ''
  },
  methods: {
    ...mapActions(['fetchMissions'])
  },
  computed: {
    ...mapGetters({ missionList: 'getMissions' })
  },
  created () {
    this.fetchMissions()
  }

}

</script>
