<template>
  <el-container>
    <el-aside><SideNavigation /></el-aside>
    <el-container>
      <el-header><DashboardNavbar /></el-header>
      <el-main class="mt-4 ml-3">
        <el-page-header
          @back="goBack"
          :content="mission.data.title"
          class="mb-4 custom-titles"
        >
        </el-page-header>
        <el-row :gutter="10">
          <el-col :span="14">
            <el-card class="box-card mission-card">
              <div slot="header" class="clearfix">
                <span>Mission Details</span>
              </div>
              <div>
                {{ mission.data.description }}
              </div>
              <div class="mt-3">
                <p>Estimated Duration:</p>
              </div>
            </el-card>
          </el-col>
          <el-col :span="6" :offset="4">
            <el-card class="box-card">
              <el-row>
                <el-button type="text" icon="el-icon-star-off">
                  Add to Favorites
                </el-button>
              </el-row>
              <el-row>
                <el-button type="text" icon="el-icon-message">
                  Contact
                </el-button>
              </el-row>
              <el-row>
                <el-button type="text"> User Name </el-button>
              </el-row>
            </el-card>
          </el-col>
        </el-row>

        <el-row :gutter="10" class="mt-4">
          <el-col :span="14">
            <el-card class="box-card mission-card">
              <div slot="header" class="clearfix">
                <span>Skills Needed</span>
              </div>
              <div>
                <el-tag>Tag 1</el-tag>
                <el-tag type="success">Tag 2</el-tag>
                <el-tag type="info">Tag 3</el-tag>
                <el-tag type="warning">Tag 4</el-tag>
                <el-tag type="danger">Tag 5</el-tag>
              </div>
            </el-card>
          </el-col>
          <el-col :span="6" :offset="4">
            <el-card class="box-card mission-card">
              <div slot="header" class="clearfix">
                <span>Roles Needed</span>
              </div>
              <div>
                <el-tag>Tag 1</el-tag>
                <el-tag type="success">Tag 2</el-tag>
                <el-tag type="info">Tag 3</el-tag>
              </div>
            </el-card>
          </el-col>
        </el-row>

        <el-row :gutter="10" class="mt-4">
          <el-col :span="14">
            <el-card class="box-card mission-card">
              <div slot="header" class="clearfix">
                <span>Additional Documents</span>
              </div>
            </el-card>
          </el-col>
          <el-col :span="6" :offset="4">
            <el-card class="box-card mission-card">
              <div slot="header" class="clearfix">
                <span>Tags</span>
              </div>
              <div>
                <el-tag>Tag 1</el-tag>
                <el-tag type="success">Tag 2</el-tag>
                <el-tag type="info">Tag 3</el-tag>
              </div>
            </el-card>
          </el-col>
        </el-row>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </el-container>
</template>

<script>
import SideNavigation from '../components/core/SideNavigation'
import DashboardNavbar from '../components/core/DashboardNavbar'
import axios from 'axios'
import router from '../router/index'

export default {
  data () {
    return {
      id: 0,
      mission: { }
    }
  },
  components: {
    SideNavigation,
    DashboardNavbar
  },
  created () {
    this.id = this.$route.params.id
    this.getMission()
  },
  methods: {
    getMission () {
      axios
        // TODO: use base url var instead of full address
        .get('http://127.0.0.1:8000/api/missions/' + this.id)
        .then(data => (this.mission = data.data))
    },
    goBack () {
      router.go(-1)
    }
  }

}

</script>

<style lang="scss">
.custom-titles {
  .el-page-header {
    &__content {
      font-weight: 600;
    }
  }

  .el-card {
    font-weight: 600;
  }
}
</style>
