<template>
  <div class="register-card">
    <div class="header text-center m-5">
      <h4 class="mr-3">Join The Crew</h4>
      <img src="../assets/icons/ufo.svg" />
    </div>
    <b-card title="" tag="article" style="max-width: 25rem" class="mx-auto">
      <b-form @submit.prevent="submit">
        <b-form-group
          id="name-group"
          label="Pick a username:"
          label-for="name-input"
        >
          <b-form-input
            id="name-input"
            v-model="form.name"
            type="text"
            required
            placeholder="Enter a username"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="email-group"
          label="Email address:"
          label-for="email-input"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="email-input"
            v-model="form.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="password-group"
          label="Create password"
          label-for="password-input"
        >
          <b-form-input
            id="password-input"
            v-model="form.password"
            required
            placeholder="Password"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="repeat-password-group"
          label="Repeat password"
          label-for="repeat-password-input"
        >
          <b-form-input
            id="repeat-password-input"
            v-model="form.password_confirmation"
            required
            placeholder="Repeat Password"
          ></b-form-input>
        </b-form-group>
        <b-button to="/dashboard" type="submit" variant="purple-one"
          >Sign Up</b-button
        >
      </b-form>
    </b-card>
    <div class="text-center m-5">
      <b-button type="submit" variant="link">Sign Up</b-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      components: {
      },
      form: {
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      },
      show: true
    }
  },
  methods: {
    ...mapActions(['register']),
    async submit () {
      try {
        await this.register(this.form)
        this.$router.push('/dashboard')
        this.showError = false
      } catch (error) {
        this.showError = true
      }
    }
  }
}
</script>
