<template>
  <b-card tag="mission" class="mb-2 mission-card">
    <b-row>
      <b-col cols="10">
        <b-card-body :title="mission.title">
          <b-card-text> {mission.description} </b-card-text>
          <div class="--tags-section">
            <el-tag>HTML</el-tag>
          </div>
        </b-card-body>
      </b-col>
      <b-col cols="2">
        <div class="--action-buttons mt-4">
          <el-button icon="el-icon-star-off" circle></el-button>
        </div>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>

export default {
  name: 'MissionCard',
  mission: {
    id: '',
    title: '',
    description: ''
  }
}
</script>
