<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
  }
  // computed: {
  //   isLoggedIn: function () { return this.$store.getters.isAuthenticated }
  // }
}
</script>
<style lang="scss">
@import "assets/scss/main.scss";
</style>
